<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                
                <li>
                    <a href="#">
                        About Us
                    </a>
                </li>
               
               
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: '2020'}}, made with love by
            <a href="#" target="_blank">ParaSolution</a> for a better web.
        </div>
    </div>
</footer>
